#Key SolarSail
#Shape 
m_iNum=11
m_jNum=11
m_kNum=1
analysis_shape=square
#Situation 
grid_pattern=equally
add_disturbance=FALSE
release=FALSE
#Boundary (Move=free coordinate type me. Share and Bend=fix/rotate fix is 1 or true).
RightMove=xyz
LeftMove=xyz
TopMove=xyz
BottomMove=xyz
RightShare=0
LeftShare=0
TopShare=0
BottomShare=0
RightBend=0
LeftBend=0
TopBend=0
BottomBend=0
RightFree=1
LeftFree=1
TopFree=1
BottomFree=1
#出力など 
m_sheet_skip=1.00E+05
div_file=5.00E+00
m_tmax=1.00E+06
m_dt=1.00E-03
#物性値 
Lref=1.00E+05
Vref=1.00E+05
Pref=1.38E-06
Length_x=1.00E+05
Length_y=1.00E+05
h0=5.00E-03
m_E=2.76E+03
Cv=1.00E-02
m_nu=0.34
m_rho=1.42E-06
#外力 
m_kx=0.00E+00
m_ky=0
m_kz=0.00E+00
disturbance_range=1.00E-10
Psun=3.04E-11
Psun_angle_axis=zyz
Psun_angle_phi=4.50E+01
Psun_angle_theta=0.00E+00
Psun_angle_psi=0.00E+00
Psun_angle_s_theta=5.00E+00
Psun_angle_s_phi=2.70E+02
Reflectance=8.80E-01
Specularity=9.40E-01
#条件毎 
ObliqueRigid=TRUE
ObliqueMove=allFix
RollInertiaSystem=FALSE
omega_psi=0.010471976
